$prefix: 'bx';

// Disable feature flag warning
$did-warn-diverged-feature-flags: true;

//---------------------------------------
// Particle Components
//---------------------------------------
$feature-flags: (
  ui-shell: true,
  grid-columns-16: false,
  enable-css-custom-properties: true,
);

// Particle globals/helpers
@import '~particle-components/scss/globals/grid/grid';
@import '~particle-components/scss/globals/scss/layout';
@import 'particle-components';

// Shell overrides until themeing is ready
@import 'website-side-nav';

// Typography
@include particle--type-reset();
@import '~@particle/elements/scss/type/classes';
@import 'plex';

$font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
$font-family-mono: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono',
  'Bitstream Vera Sans Mono', Courier, monospace;

//---------------------------------------
// Global styles
//---------------------------------------
body {
  background: $particle--black-100;
}

// prevents jank while page hydrates
.body--preload * {
  transition: none !important;
}

::-moz-focus-inner {
  border: 0;
}

// Global links
a:focus {
  outline: 2px solid $focus;
}

//---------------------------------------
// CSS reset overrides
//---------------------------------------
body em {
  font-style: italic;
}

body button {
  font-family: inherit;
}
